* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f4f6f9;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}


.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s ease;
}

.nav-links li a:hover {
    color: #ffd369;
}


.btn {
    padding: 8px 18px;
    border-radius: 25px;
    font-weight: 500;
}

.register-btn {
    background-color: #ffd369;
    color: #1e3c72;
}

.register-btn:hover {
    background-color: white;
}

.login-btn {
    border: 2px solid #ffd369;
}

.login-btn:hover {
    background-color: #ffd369;
    color: #1e3c72;
}